# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea
/.idea/*

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Ignore application configuration
#/config/application.yml
.env

# Versioning
.rvmrc.env


# Credentials
/scripts/myCredentials.rb

